.merchandise {
    background-color: black;
    color: white;
    .merchandise-examples {
        .merchandise-pictures {
            text-align: center;
            .merchandise-img {
                width: 990.65px;
                height: 661px;
            }
        }
    }
    .merchandise-button {
        text-align: center;
        margin-top: 185px;
        padding-bottom: 220px;
    }
}