

.website {
    background-color: black;
    color: white;
   
}

.website-post {
    width: 990.34px;
    height: 557px;
    padding-bottom: 5rem;
 text-align: center;
   
}
.website-pictures {
    
    text-align: center;
}
.website-story {
    width: 990px;
    height: 2078.48px;
   

}
.website-one-pictures {
    text-align: center;
}
.website-button {
    text-align: center;
    margin-top: 185px;
    padding-bottom: 80px;
}

.website-pictures .website-hasbara {
   
    text-align: center;
    width: 990px;
    height: 2078.48px;
   
    
    padding-bottom: 5rem;
    padding-top: 5rem;

    }


/* MacBook Pro 16 */
@media (max-width: 1728px) {

}

/* MacBook Pro 14 */
@media (max-width: 1512px) {
    
}

/* Desktop */
@media (max-width: 1440px) {
    
}

/* MacBook Pro air */
@media (max-width: 1280px) {
    
}

/* IPad Pro 12.9 */
@media (max-width: 1024px) {
    
}

/* IPad Pro 11 */
@media (max-width: 834px) {
    
}

/* Iphone 14 Pro Max */
@media (max-width: 430px) {
    
}

/* Iphone 14 */
@media (max-width: 390px) {
    
}

/* Android Large */
@media (max-width: 360px) {
    
}