

.website {
    background-color: black;
    color: white;
   
}

.website-post {
    width: 990.34px;
    height: 557px;
    padding-bottom: 5rem;
 text-align: center;
   
}
.website-pictures {
    
    text-align: center;
}
.website-story {
    width: 990px;
    height: 2078.48px;
   

}
.website-one-pictures {
    text-align: center;
}
.website-button {
    text-align: center;
    margin-top: 185px;
    padding-bottom: 80px;
}

.website-pictures .website-hasbara {
   
    text-align: center;
    width: 990px;
    height: 2078.48px;
   
    
    padding-bottom: 5rem;
    padding-top: 5rem;

    }
