.banners {
    background-color: black;
    color: white;
    .banner-examples {
        .banner-two-pictures {
            display: flex;
            justify-content: center;
            .banner-post {
                width: 450px;
                height: 450px;
                margin-right: 70px;
            }
            .banner-story {
                width: 450px;
                height: 800px;
            }
        }
        .banner-pictures {
            text-align: center;
            .banner-hasbara, .banner-trullion {
                width: 447px;
                height: 447px;
            }
        }
    }
    .benners-button {
        text-align: center;
        margin-top: 185px;
        padding-bottom: 220px;
    }
}

// MacBook Pro 16
@media (max-width: 1728px) {

}

// MacBook Pro 14
@media (max-width: 1512px) {
    
}

// Desktop
@media (max-width: 1440px) {
    
}

// MacBook Pro air
@media (max-width: 1280px) {
    
}

// IPad Pro 12.9
@media (max-width: 1024px) {
    
}

// IPad Pro 11
@media (max-width: 834px) {
    
}

// Iphone 14 Pro Max
@media (max-width: 430px) {
    
}

// Iphone 14
@media (max-width: 390px) {
    
}

// Android Large
@media (max-width: 360px) {
    
}