.banners {
    background-color: black;
    color: white;
    .banner-examples {
        .banner-two-pictures {
            display: flex;
            .banner-post {
                width: 450px;
                height: 450px;
                margin-right: 70px;
                margin-left: 485px;
            }
            .banner-story {
                width: 450px;
                height: 800px;
                margin-right: 456px;
            }
        }
        .banner-pictures {
            text-align: center;
            .banner-hasbara, .banner-trullion {
                width: 447px;
                height: 447px;
            }
        }
    }
    .benners-button {
        text-align: center;
        margin-top: 185px;
        padding-bottom: 220px;
    }
}