.header {
    height: 855.05px;
    background-color: #000000;
    color: white;

    .header-container {
        padding-top: 264px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .header-info {
            margin-left: 324px;
            width: calc(1294px - 563.49px);;

            .header-text {
                font-family: 'Poller One';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 65px;
            }
            .header-button {
                padding-top: 130px;
            }
        }
        .header-photo {
            margin-right: 303px;

            img {
                width: 563.49px;
                height: 451px;
            }
        }
    }
}

// MacBook Pro 16
@media (max-width: 1728px) {

}

// MacBook Pro 14
@media (max-width: 1512px) {
    
}

// Desktop
@media (max-width: 1440px) {
    
}

// MacBook Pro air
@media (max-width: 1280px) {
    
}

// IPad Pro 12.9
@media (max-width: 1024px) {
    
}

// IPad Pro 11
@media (max-width: 834px) {
    
}

// Iphone 14 Pro Max
@media (max-width: 430px) {
    
}

// Iphone 14
@media (max-width: 390px) {
    
}

// Android Large
@media (max-width: 360px) {
    
}