.social {
    background-color: black;
    color: white;
    .social-examples {
        .social-five-pictures {
            display: flex;
            justify-content: center;
            .social-hightlight {
                margin-left: 45px;
                width: 162px;
                height: 287.76px;
            }
        }
        .social-pictures {
            text-align: center;
            margin: 130px 0;
            .social-mockup {
                width: 343.71px;
                height: 704.84px;
            }
        }
        .social-three-pictures {
            display: flex;
            justify-content: center;
            margin-bottom: 45.37px;
            .social-post {
                margin-left: 56px;
                width: 296.58px;
                height: 301.54px;
            }
        }
    }
    .social-button {
        text-align: center;
        margin-top: 185px;
        padding-bottom: 220px;
    }
}

// MacBook Pro 16
@media (max-width: 1728px) {

}

// MacBook Pro 14
@media (max-width: 1512px) {
    
}

// Desktop
@media (max-width: 1440px) {
    
}

// MacBook Pro air
@media (max-width: 1280px) {
    
}

// IPad Pro 12.9
@media (max-width: 1024px) {
    
}

// IPad Pro 11
@media (max-width: 834px) {
    
}

// Iphone 14 Pro Max
@media (max-width: 430px) {
    
}

// Iphone 14
@media (max-width: 390px) {
    
}

// Android Large
@media (max-width: 360px) {
    
}