.work-header {
    font-family: 'Poller One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    margin: 0;
    padding-top: 253px;
}
.work-des {
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 10px;
}