.navbar {
    position: relative;
    img {
        position: absolute;
        width: 162px;
        height: 30px;
        margin-left: 304px;
        top: 46px;
    }
}

// MacBook Pro 16
@media (max-width: 1728px) {
    .navbar {
        img {
            margin-left: 271px;
        }
    }
}

// MacBook Pro 14
@media (max-width: 1512px) {
    .navbar {
        img {
            margin-left: 255px;
        }
    }
}

// Desktop
@media (max-width: 1440px) {
    .navbar {
        img {
            margin-left: 146.5px;
        }
    }
}

// Macbook Air
@media (max-width: 1280px) {
    .navbar {
        img {
            margin-left: 217px;
        }
    }
}

// IPad Pro 12.9
@media (max-width: 1024px) {
    .navbar {
        img {
            margin-left: 112px;
            width: 149px;
            height: 28px;
        }
    }
}

// IPad Pro 11
@media (max-width: 834px) {
    .navbar {
        img {
            margin-left: 41%;
        }
    }
}

// Iphone 14 Pro Max
@media (max-width: 430px) {
    .navbar {
        img {
            margin-left: 33%;
            width: 143px;
            height: 27px;
            top: 35px;
        }
    }
}

// Iphone 14
@media (max-width: 390px) {
    .navbar {
        img {
            margin-left: 30%;
        }
    }
}

// Android Large
@media (max-width: 360px) {
    .navbar {
        img {
            margin-left: 28%;
        }
    }
}