

.goal {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background: #D4E249;
    display: block;
    position: relative;
}




.goal img {
    width: 50%;
margin-right:0;
margin-left: auto;
display:block;
height: 400px;
left: 960px;
top: 4065px;
background-image: url('./img/challenge\ accepted.png');

background-size: 50% 100%;
background-position: left top, right top;

}
/* .goal {
    height: 50px;
    width: 50px;
    background-color: rgb(134, 10, 10);
  } */



  .container-1 {
 
      text-align: center;
      justify-items: center;
      box-sizing: border-box;
      width: 500px;
      height: 100px;
      padding: 1rem;
     margin: 1.5rem; 
     margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Lexend Deca', sans-serif; 
  color: #2E475D;  
  margin-top: 0%;
    

  }
    
  .container-1 .row {
 
    text-align: center;
     padding: 20px; 
    width: 200px;
    width: 406px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 51px; 
    left: 322px;
    top: 4232px;  */
    
    /* font-family: 'Poller One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px; */
    /* or 175% */
    
    
   

  }


