.contact-container{
	.contact-box {
		padding-top: 97px;
		h2 {
			font-family: 'Ploni ML v2 AAA';
			font-size: 18px;
			line-height: 20px;
			text-align: center;
			text-decoration-line: underline;
			margin: 0;
			padding: 0.5rem;
		}
		.contact-form{
			width: 305px;
			height: 535px;
			margin: auto;
			margin-top: 50px;
			.field{
				width: 305px;
				height: 65px;
				border-radius: 10px;
				margin-top: 30px;

				padding-left: 17px;
				font-family: 'Ploni ML v2 AAA';
				font-size: 18px;
				line-height: 23px;
			}
			textarea{
				padding-top: 20px;
				min-height: 130px;
			}
			.contact-button {
				margin-top: 55px;
			}
			::placeholder {
				font-family: 'Ploni ML v2 AAA';
				font-size: 18px;
				line-height: 23px;
			}
		}
	}
	p {
		margin: 0;
		margin-left: 182px;
		margin-top: 70px;
		padding-bottom: 30px;
		font-family: 'Ploni ML v2 AAA';
		font-size: 15px;
		line-height: 27px;
	}
}

// MacBook Pro 16
@media (max-width: 1728px) {

}

// MacBook Pro 14
@media (max-width: 1512px) {
    
}

// Desktop
@media (max-width: 1440px) {
    
}

// MacBook Pro air
@media (max-width: 1280px) {
    
}

// IPad Pro 12.9
@media (max-width: 1024px) {
    
}

// IPad Pro 11
@media (max-width: 834px) {
    
}

// Iphone 14 Pro Max
@media (max-width: 430px) {
    
}

// Iphone 14
@media (max-width: 390px) {
    
}

// Android Large
@media (max-width: 360px) {
    
}