.signs {
    background-color: black;
    color: white;
    .signs-examples {
        .signs-pictures {
            text-align: center;
            .signs-img {
                width: 991px;
                height: 660.75px;
            }
        }
    }
    .signs-button {
        text-align: center;
        margin-top: 185px;
        padding-bottom: 220px;
    }
}