.slider-area {
  display: flex;
  width: auto;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 180px;
  padding: 1rem;
}
.slider-area .wrapper {
  display: flex;
  width: auto;
  height: 30px;
  margin: 0 auto;
  margin-left: 4rem;

  padding: 3rem;
}

.item {
  animation: animate 30s alternate linear infinite;
}
.container:hover .item {
  animation-play-state: calc(-250 * 30);
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-2100px, 0, 0);
  }
}

/* MacBook Pro 16 */
@media (max-width: 1728px) {
  .slider-area .wrapper img {
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 146px;
    height: 28px;
  }
  .slider-area .wrapper {
    width: 90%;

    margin-left: 10rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

/* MacBook Pro 14 */
@media (max-width: 1512px) {
  .slider-area .wrapper img {
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 129px;
    height: 25px;
  }
  .slider-area .wrapper {
    width: 90%;
    margin-left: 10rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

/* Desktop */
@media (max-width: 1440px) {
  .slider-area .wrapper img {
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 106px;
    height: 28px;
  }
  .slider-area .wrapper {
    width: 90%;
    margin-left: 10rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

/* MacBook Pro air */
@media (max-width: 1280px) {
  .slider-area .wrapper img {
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 121px;
    height: 23px;
  }
  .slider-area .wrapper {
    width: 90%;
    margin-left: 10rem;
  }
}

/* IPad Pro 12.9 */
@media (max-width: 1024px) {
  .slider-area .wrapper img {
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 105px;
    height: 27px;
  }
  .slider-area {
    width: 93%;
  }
}

/* IPad Pro 11 */
@media (max-width: 834px) {
  .slider-area .wrapper img {
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 105px;
    height: 20px;
  }
  .slider-area .wrapper {
    width: 93%;
  }
}

/* Iphone 14 Pro Max */
@media (max-width: 430px) {
  .slider-area .wrapper .item {
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 120px;
    height: 25px;
  }
  .slider-area .wrapper {
    width: 80%;
    margin-left: 0%;
  }
}

/* Iphone 14 */
@media (max-width: 390px) {
  .slider-area .wrapper .item {
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 120px;
    height: 25px;
  }
  .slider-area .wrapper {
    width: 80%;
    margin-left: 0%;
  }
}

/* Android Large */
@media (max-width: 360px) {
  .slider-area .wrapper .item {
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 95px;
    height: 20px;
  }
  .slider-area .wrapper {
    width: 80%;
    margin-left: 0rem;
  }
}


/* .client {
  text-align: center;
}
.client-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainContainer {
  margin: 10px;
}

.mainContainer .container {
  padding: 40px 0;
}

.mainContainer .container img {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

@media (max-width: 1728px) {
  .mainContainer .container img {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: 128px;
    height: 28px;
    margin-right: 2rem;
  }
  .mainContainer {
    margin-left: 0rem;
    width: 93%;
  }
}

@media (max-width: 1512px) {
  .mainContainer .container img {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: auto;
    height: 40px;
    margin-right: 2rem;
  }
  .mainContainer {
    margin-left: 0rem;
    width: 93%;
  }
}

@media (max-width: 1440px) {
  .mainContainer .container img {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: 106px;
    height: 25px;
    margin-right: 2rem;
  }
  .mainContainer {
    margin-left: 0rem;
    width: 93%;
  }
}

@media (max-width: 1280px) {
  .mainContainer .container img {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: auto;
    height: 30px;
    margin-right: 2rem;
  }
  .mainContainer {
    margin-left: 0rem;
    width: 93%;
  }
}

@media (max-width: 1024px) {
  .mainContainer .container img {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: auto;
    height: 25px;
    margin-right: 2rem;
  }
  .mainContainer {
    margin-left: 0rem;
    width: 93%;
  }
}

@media (max-width: 834px) {
  .mainContainer .container img {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: 141.76px;
    height: 28.64px;
    margin-right: 2rem;
  }
  .mainContainer {
    margin-left: 0rem;
    width: 93%;
  }
}

@media (max-width: 430px) {
  .mainContainer .container img {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: auto;
    height: 20px;
    margin-right: 2rem;
  }
  .mainContainer {
    margin-left: 0rem;
    width: 93%;
  }
}

@media (max-width: 390px) {
  .mainContainer .container img {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: auto;
    height: 20px;
    margin-right: 0rem;
  }
  .mainContainer {
    margin-left: 0rem;
    width: 93%;
  }
}

@media (max-width: 360px) {
  .mainContainer .container img {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: auto;
    height: 20px;
    margin-right: 5rem;
  }
  .mainContainer {
    margin-left: 0rem;
    width: 93%;
  }
} */