

* {
    box-sizing: border-box;
}

.client{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
   
   
}
.row img {
    display: block;
  max-width: 100%;
  height: 70px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 75px;
  object-fit: contain;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  


}
.row img[src$=".jpg"],
.row img[src$=".png"] {
  mix-blend-mode: multiply;
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(calc(-250px * 2));
       


    }
    
}

.client .row{
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 2);
    transform: translate(0, -50%);
    top: 50%;


}
.client .slide {
    height: 100px;
    width: 250px;
}
    
/* MacBook Pro 16 */
@media (max-width: 1728px) {
    .client {
        grid-gap: 5rem;
    margin-left: 6rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
    margin-top: 5rem;

      
      
    }
    .client .row img{
        width: 300.53px;
        height: 40.3px;
    }

}

/* MacBook Pro 14 */
@media (max-width: 1512px) {
    .client {
        grid-gap: 5rem;
    margin-left: 6rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
    margin-top: 5rem;

      
      
    }
    .client .row img{
        width: 300.53px;
        height: 40.3px;
    }
   
    
}

/* Desktop */
@media (max-width: 1440px) {
    .client {
        grid-gap: 5rem;
    margin-left: 6rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
    margin-top: 5rem;

      
      
    }
    .client .row img{
        width: 300.53px;
        height: 40.3px;
    }
    
    
}

/* MacBook Pro air */
@media (max-width: 1280px) {
    .client {
        grid-gap: 2.5rem;
    margin-left: 6rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
    margin-top: 1rem;

      
      
    }
    .client .row img{
        width: 100.31px;
        height: 20.79px;
    }
    
    
}

/* IPad Pro 12.9 */
@media (max-width: 1024px) {
    .client {
        grid-gap: 2.5rem;
    margin-left: 6rem;
    margin-right: -53rem;
    margin-bottom: 2rem;
    margin-top: 3rem;

      
      
    }
    .client .row img{
        width: 660.31px;
        height: 34.79px;
    }
    
}

/* IPad Pro 11 */
@media (max-width: 834px) {
    .client {
        grid-gap: 2.5rem;
    margin-left: 6rem;
    margin-right: -53rem;
    margin-bottom: 2rem;
    margin-top: 3rem;

      
      
    }
    .client .row img{
        width: 264.93px;
        height: 22.39px;
    }
    
}

/* Iphone 14 Pro Max */
@media (max-width: 430px) {

    .client {
        grid-gap: 2.5rem;
    margin-left: 6rem;
    margin-right: -53rem;
    margin-bottom: 2rem;
    margin-top: 3rem;

      
      
    }
    .client .row img{
        width: 264.93px;
        height: 22.39px;
    }
    
}

/* Iphone 14 */
@media (max-width: 390px) {
    .client {
        grid-gap: 2.5rem;
    margin-left: 6rem;
    margin-right: -53rem;
    margin-bottom: 2rem;
    margin-top: 3rem;

      
      
    }
    .client .row img{
        width: 264.93px;
        height: 22.39px;
    }
    
}

/* Android Large */
@media (max-width: 360px) {

    .client {
        grid-gap: 2.5rem;
    margin-left: 6rem;
    margin-right: -53rem;
    margin-bottom: 2rem;
    margin-top: 3rem;

      
      
    }
    .client .row img{
        width: 264.93px;
        height: 22.39px;
    }
    
}