

* {
    box-sizing: border-box;
}

.client{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
   
   
}
.row img {
    display: block;
  max-width: 100%;
  height: 70px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 75px;
  object-fit: contain;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  


}
.row img[src$=".jpg"],
.row img[src$=".png"] {
  mix-blend-mode: multiply;
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(calc(-250px * 3));
       


    }
    
}

.client .row{
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 4);


}
.client .slide {
    height: 100px;
    width: 250px;
}
    
/* MacBook Pro 16 */
@media (max-width: 1728px) {

}

/* MacBook Pro 14 */
@media (max-width: 1512px) {
    
}

/* Desktop */
@media (max-width: 1440px) {
    
}

/* MacBook Pro air */
@media (max-width: 1280px) {
    
}

/* IPad Pro 12.9 */
@media (max-width: 1024px) {
    
}

/* IPad Pro 11 */
@media (max-width: 834px) {
    
}

/* Iphone 14 Pro Max */
@media (max-width: 430px) {
    
}

/* Iphone 14 */
@media (max-width: 390px) {
    
}

/* Android Large */
@media (max-width: 360px) {
    
}