.rebranding {
    display: flex;
    margin-top: 100px;
    margin-bottom: 60px;
    .rebranding-photo {
        margin-left: 322px;
        img {
            width: 500px;
        }
    }
    .rebranding-info {
        margin-left: 145px;
        margin-right: 276px;
        margin-top: 30px;
        .rebranding-header {
            margin-bottom: 40px;
            h1 {
                font-family: 'Poller One';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 70px;
                color: #2C400E;
            }
        }
        .rebranding-text {
            font-family: 'Ploni ML v2 AAA';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            color: #000000;
            .rebranding-newLine {
                margin-top: 25px;
            }
        }
    }
}