.branding-container {
    width: 100%;
    height: 650px;
    background-image: url('./RectangleGreenLines.png');
    background-size: cover;
    background-position: right;
    .branding-sticker {
        position: relative;
        img {
            position: absolute;
            width: 198px;
            height: 198px;
            top: 155px;
            right: 275px;
        }
    }
    .branding-info {
        h1 {
            font-family: 'Poller One';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 70px;
            text-align: center;
            color: #F1F2CF;
            padding-top: 276px;
            margin: 0;
        }
        .branding-button {
            text-align: center;
            padding-top: 45px;
        }
    }
}

// MacBook Pro 16
@media (max-width: 1728px) {

}

// MacBook Pro 14
@media (max-width: 1512px) {
    
}

// Desktop
@media (max-width: 1440px) {
    
}

// MacBook Pro air
@media (max-width: 1280px) {
    
}

// IPad Pro 12.9
@media (max-width: 1024px) {
    
}

// IPad Pro 11
@media (max-width: 834px) {
    
}

// Iphone 14 Pro Max
@media (max-width: 430px) {
    
}

// Iphone 14
@media (max-width: 390px) {
    
}

// Android Large
@media (max-width: 360px) {
    
}