.button {
    button {
        width: 305px;
        height: 65px;
    
        background: #00CB86;
        color: black;
        border-radius: 10px;
        border: 0;
    
        font-family: 'Acherus Feral Bold';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.06em;
        transition: 200ms ease-in-out;
    }

    button:hover {
        background: #F1F2CF;
    }
}

.work-button {
    text-align: center;
    margin-top: 130px;
    padding-bottom: 130px;
}

// MacBook Pro 16
@media (max-width: 1728px) {
    .button {
        button {
            width: 274.52px;
            height: 58.5px;
            border-radius: 9px;
            font-size: 12px;
            line-height: 55px;
        }
    }
}

// MacBook Pro 14
@media (max-width: 1512px) {
    .button {
        button {
            width: 210.11px;
            height: 44.78px;
            border-radius: 6.8888px;
            font-size: 12px;
            line-height: 45px;
        }
    }
}

// IPad Pro 12.9
@media (max-width: 1024px) {
    .button {
        button {
            width: 228.63px;
            height: 48.72px;
            border-radius: 7.4961px;
            font-size: 11.5px;
            line-height: 50px;
        }
    }
    .work-button {
        text-align: center;
        margin-top: 90px;
        padding-bottom: 90px;
    }
}

@media (max-width: 430px) {
    .button {
        button {
            width: 213px;
            height: 48.77px;
            font-size: 11.5px;
        }
    }
}