@font-face {
  font-family: 'Poller One';
  src: url('../public/dev/For-all-screens/Fonts/Poller/PollerOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ploni ML v2 AAA';
  src: url('../public/dev/For-all-screens/Fonts/Ploni-Light/ploni-aaa-300.otf') format('opentype');
}