@font-face {
  font-family: 'Poller'; 
  src: url('../public/dev/For-all-screens/Fonts/Poller/OFL.txt'); 
}

@font-face {
  font-family: 'Ploni'; 
  src: url('../public/dev/For-all-screens/Fonts/Ploni-Light/ploni-aaa-300.otf'); 
}

@font-face {
  font-family: 'Podkova'; 
  src: url('https://fonts.googleapis.com/css2?family=Podkova&display=swap'); 
}