
.prints {
    background-color: black;
    color: white;

}
.print-two-pictures{
    
    text-align: center;

}
.print-post{
    width: 900px;
    height: 600px;
    
   
    

}
.print-pictures{
    text-align: center;
}
.print-hasbara{
    text-align: center;
    width: 621px;
height: 350px;
padding: 0.5rem;

}
.print-button{
    text-align: center;
    margin-top: 185px;
    padding-bottom: 80px;
}

/* MacBook Pro 16 */
@media (max-width: 1728px) {

}

/* MacBook Pro 14 */
@media (max-width: 1512px) {
    
}

/* Desktop */
@media (max-width: 1440px) {
    
}

/* MacBook Pro air */
@media (max-width: 1280px) {
    
}

/* IPad Pro 12.9 */
@media (max-width: 1024px) {
    
}

/* IPad Pro 11 */
@media (max-width: 834px) {
    
}

/* Iphone 14 Pro Max */
@media (max-width: 430px) {
    
}

/* Iphone 14 */
@media (max-width: 390px) {
    
}

/* Android Large */
@media (max-width: 360px) {
    
}